NEXT_PUBLIC_SUPABASE_URL=https://biqutnjvhkvldrihywdb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpcXV0bmp2aGt2bGRyaWh5d2RiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0Nzk1NjMsImV4cCI6MjEwMTA1NTU2M30.zLffszHcCGRFmnGW0iXSp6BNJ_BMPqQv1W6TXQNxYLU
NEXT_PUBLIC_OWNER_EMAILS=Vipadarapper@gmail.com,Payroundsupport@gmail.com
OWNER_WHATSAPP=+2349151723199
